<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Web page is maintained by:</li>
          <li>{{ site.author }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><img src="{{ site.url }}/assets/HBO-ICT.png" width="120"></li>
          <li>CWI</li>
          <li>
            <div style="width: 240px; float:left">
              <div style="width: 80px; float:left"><img src="{{ site.url }}/assets/CWI.png" width="80"></div>
              <div style="width: 160px; float:left"><a href="https://www.cwi.nl/research-groups/software-analysis-and-transformation">Software Analysis &amp; <br> Transformation</a></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      <div style="width: 280px; float:left">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
 
          {% if site.twitter_username2 %}
          <li>
            {% include icon-twitter.html username=site.twitter_username2 %}
          </li>
          {% endif %}
        </ul>
      </div>
      </div>

      <div class="footer-col footer-col-3">
      <div style="width: 320px; float:left">
      <p>{{ site.description }}</p>
      </div>
      </div>
    </div>

  </div>

</footer>



